{% extends "app_coder/padre.html"%}
{%load static%}

{%block contenidoquecambia %}
<br>
<br>

<html lang="en">
<head>
</head>

    {% if miFormulario.errors %} 
    
    <p style="color: red;"> Estan mal los datos, revisalos</p>
    
    {% endif %}
    <center>
        <h3>Introducé  la identificación del pasajero que estas buscando</h3>
    <form action="/buscar/" method="get">

        <input type="text" name="id_buscado" id="id_buscado">

        <input type="submit" value="Buscar">
        
     </form>   
    </center>

</html>
{% endblock %}